<div class="example-button-row">
    <button mat-flat-button [cdkCopyToClipboard]="accessorsService.html_preview">Copy code to clipboard</button>
    <button mat-flat-button (click)="zip_libraries()">Download required libraries</button>
    <button mat-flat-button (click)="showModal = true">Preserve your file</button>
</div>
<div class="hide">
    <a href="" id="exportLink"></a>
</div>

<app-modal
  *ngIf="showModal"
  (clickOnClose)="showModal = false"
>
    This feature is only available with the Bevara Preserve IDE. <br> Contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales@bevara.com</a> for information.
</app-modal>

<app-modal
  *ngIf="librariesService.licence_required"
  [hideClose] = true
>
    This content requires obtaining a licence to be used. <br> Contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales@bevara.com</a> for information.
</app-modal>
