

  <button mat-raised-button [cdkCopyToClipboard]="accessorsService.html_preview">Copy code to clipboard</button>
  <button mat-raised-button (click)="zip_libraries()">Download required libraries</button>
  <button mat-raised-button (click)="showModal = true">Preserve your file</button>


<div class="hide">
    <a href="" id="exportLink"></a>
</div>

<app-modal
  *ngIf="showModal"
  (clickOnClose)="showModal = false"
>
    This feature is only available with the Bevara Preserve IDE. <br> Contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information.
</app-modal>
