@if(accessorsService.integration == 'Script'){
<mat-chip-listbox [multiple]="true" aria-label="Integration tag">
  <mat-chip-option color="accent" (click)="accessorsService.toogleTags('img')"
    [selected]="accessorsService.includeTags('img')">img</mat-chip-option>
  <mat-chip-option color="accent" (click)="accessorsService.toogleTags('audio')"
    [selected]="accessorsService.includeTags('audio')">audio</mat-chip-option>
  <mat-chip-option color="accent" (click)="accessorsService.toogleTags('video')"
    [selected]="accessorsService.includeTags('video')">video</mat-chip-option>
    @if(accessorsService.integration != 'Script'){
      <mat-chip-option color="accent"
      (click)="accessorsService.tag = 'canvas'" [selected]="accessorsService.tag == 'canvas'">canvas</mat-chip-option>
    }

</mat-chip-listbox>
}@else{
<mat-chip-listbox [multiple]="false" aria-label="Integration tag">
  <mat-chip-option color="accent" (click)="accessorsService.tag = 'img'; accessorsService.updateView()"
    [selected]="accessorsService.tag == 'img'">img</mat-chip-option>
  <mat-chip-option color="accent" (click)="accessorsService.tag = 'audio'; accessorsService.updateView()"
    [selected]="accessorsService.tag == 'audio'">audio</mat-chip-option>
  <mat-chip-option color="accent" (click)="accessorsService.tag = 'video'; accessorsService.updateView()"
    [selected]="accessorsService.tag == 'video'">video</mat-chip-option>
  <mat-chip-option color="accent" (click)="accessorsService.tag = 'canvas'; accessorsService.updateView()"
    [selected]="accessorsService.tag == 'canvas'">canvas</mat-chip-option>
</mat-chip-listbox>
}
