<mat-toolbar>


  <!-- <span>You are not logged in. Please contact <a href="mailto:sales@bevara.com">sales&#64;bevara.com</a>  to register.</span> -->
  @if(auth.isLoggedIn){
    <span class="spacer"></span>
    <span class="login">You are signed in as {{auth.username}}.
      <!-- <a style="color: #fff;" (click)="auth.logout()" href="javascript:void(0);">Log out</a>  -->
    </span>
  }@else {
    <span class="login">
     <a style="color: #fff;" (click)="auth.gotoSignInPage()" href="javascript:void(0);">Sign in</a> for access to the Open-Source Developer SDK or your Premium account.
    </span>
  }
</mat-toolbar>
