@import "./src/assets/stylesheets/variables";


.example-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav-content {
    margin-left: 0 !important;
    flex: 1 1 auto;
}

.panel{
  width: 300px;
}

.navbar-nav{
    margin: 0;
    padding-left: 0px;
}

mat-nav-list {
    font-family: "Roboto Condensed";
    font-size:20px;
    font-style:normal;
    font-weight:400;
    letter-spacing: normal;
    line-height:26.4px ;
    -webkit-font-smoothing:auto;
    &.pinned {
        width: 300px;

        li {
            opacity: 1;
            margin: auto 10px;
            transition: all 0.1s ease-in 0.2s;
        }

        h3 {
            opacity: 1;
            padding-left: 20px;
            font-size:15px;
        }
    }

    &.unpinned {
        width: 60px;
        overflow: hidden;
        li {
            opacity: 0;
        }

        h3 {
            opacity: 0;
        }
    }
}

.fusion-logo img {
    width: auto
}

.mat-subheader {
    padding: 0px;
}

ul {
    list-style-type: none;
}
