<div style="padding-top: 50px;" class="content" #content>
    <mat-card class="example-card">
        <mat-card-header>
            
            <mat-card-title-group>
                <mat-card-title>
                    Add accessor
                    <mat-icon class="action-icon" aria-hidden="false" aria-label="add icon">add_to_queue</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Create a new accessor from an empty template.</mat-card-subtitle>
            </mat-card-title-group>
          
        </mat-card-header>
        <br>
      </mat-card>
      
    <mat-card class="example-card" *ngFor="let library of accessorsService.all">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    {{library.name}}
                    <mat-icon *ngIf="library.support.includes('image')" class="action-icon" aria-hidden="false" aria-label="add icon">image</mat-icon>
                    <mat-icon *ngIf="library.support.includes('video')" class="action-icon" aria-hidden="false" aria-label="add icon">videocam</mat-icon>
                    <mat-icon *ngIf="library.support.includes('audio')" class="action-icon" aria-hidden="false" aria-label="add icon">audiotrack</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>{{library.description}}</mat-card-subtitle>
            </mat-card-title-group>
          
        </mat-card-header>
        <mat-card-content>
            {{library.help}}
        </mat-card-content>
        
        <mat-card-actions>
          <button *ngIf="!accessorsService.hasLibStr(library.name)" mat-button (click)="accessorsService.addLibraryStr(library.name);this.router.navigateByUrl('/preserve');">Add to library</button>
          <button *ngIf="accessorsService.hasLibStr(library.name)" mat-button (click)="accessorsService.removeLibStr(library.name);this.router.navigateByUrl('/preserve');">Remove from library</button>
          <button mat-button>Edit</button>
        </mat-card-actions>
      </mat-card>
</div>

