<div style="padding-top: 50px;" class="content" #content>
    <mat-card class="example-card">
        <mat-card-header>
            
            <mat-card-title-group>
                <mat-card-title>
                    Add accessor
                    <mat-icon class="action-icon" aria-hidden="false" aria-label="add icon">add_to_queue</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Create a new accessor from an empty template.</mat-card-subtitle>
            </mat-card-title-group>
          
        </mat-card-header>
      </mat-card>
      <br>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    FFMPEG
                    <mat-icon class="action-icon" aria-hidden="false" aria-label="add icon">image</mat-icon>
                    <mat-icon class="action-icon" aria-hidden="false" aria-label="add icon">videocam</mat-icon>
                    <mat-icon class="action-icon" aria-hidden="false" aria-label="add icon">audiotrack</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>This filter decodes audio and video streaming using FFMPEG.</mat-card-subtitle>
            </mat-card-title-group>
          
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Add to library</button>
          <button mat-button>Edit</button>
        </mat-card-actions>
      </mat-card>
</div>

