<div class="modalBlock open">
  <div class="modalBlock-content bounceIn">
    <mat-icon class="modalBlock-close btn" (click)="clickOnClose.emit()">
      close
    </mat-icon>
    <div
      class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-justify-content-flex-start fusion-content-layout-column">
      <div>
        <h2><span style="color: #3574ba;font-size:34px">Bevara Access</span></h2>
      </div>
      <div>
        <h4><span style="color: #3574ba;font-size:24px">A free, open-source IDE.</span>
        </h4>
      </div>
      <div>
        <h6>
          <span style="color: #787878;font-size:18px">
            An easy-to-use tool based on Bevara open-source libraries to
            create a decoding and presentation pipeline. Use the auto-suggested pipeline elements or tailor the elements
            to your needs. Drop the generated HTML into your website for easy display and playback of many types of file
            formats.
          </span>
        </h6>
      </div>
      <div class="fusion-flex layout-three">
        <a class="fusion-button" href="https://github.com/Bevara/Interface" target="_blank">
          <span>Source code</span>
        </a>
        <a class="fusion-button" href="https://bevara.com/documentation/" target="_blank">
          <span>Get Started</span>
        </a>
        <a class="fusion-button" href="https://bevara.com/how-it-works/" target="_blank">
          <span>Learn More</span>
        </a>
      </div>
    </div>
  </div>
</div>
