<div style="text-align:center;padding-top: 50px;" #content>
    <mat-list class="divider-option">
        <mat-divider></mat-divider>
        <mat-list-item>Integration code</mat-list-item>
        <app-code></app-code>
        <br>
        <app-libs></app-libs>
        <app-actions></app-actions>
        <br>
        <br>
        <app-source *ngIf="!vscode"></app-source>
        <app-integration></app-integration>
        <br>
        <app-tags></app-tags>
        <br>
        <app-options></app-options>
    </mat-list>

</div>