
<mat-accordion multi>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Libraries
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-libs></app-libs>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="!vscode">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Source option
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-source></app-source>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Integration option
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-integration></app-integration>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tag
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-tags></app-tags>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Logs
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-logs></app-logs>
  </mat-expansion-panel>

</mat-accordion>
