.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 200px;
}

.example-small-box2 {
  height: 50px;
  padding-top: 20px;
}

.example-small-box3 {
  height: 100px;
}

.example-large-box {
  height: 250px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.add-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

