<mat-tab-group >
  <!-- #enddocregion dynamic-height -->
    <mat-tab label="From an existing repository">
      <div class="example-small-box mat-elevation-z4">

      @if (!pending) {
      <form class="example-form" (ngSubmit)="Submit()">
        <mat-form-field class="example-full-width">
          <mat-label>Repository URL</mat-label>
          <input type="url" matInput [formControl]="accessorFormControl" [errorStateMatcher]="matcher"
                 placeholder="Ex. https://github.com/Bevara/libxvid" [(ngModel)]="url">
          <mat-hint>{{status}}</mat-hint>
          @if (accessorFormControl.hasError('githubName') && !accessorFormControl.hasError('required')) {
            <mat-error>Please enter a valid github address</mat-error>
          }
          @if (accessorFormControl.hasError('required')) {
            <mat-error>A valid URL is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        @if (releases.length > 0) {
          <mat-form-field class="example-full-width">
            <mat-label>Select a release</mat-label>
            <mat-select [(value)]="selected_release">
              @for (option of releases; track option) {
                <mat-option [value]="option.id">{{ option.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        <button [disabled]="accessorFormControl.hasError('required')" mat-raised-button type="submit">Import accessor</button>
      </form>
    }

  </div>
    </mat-tab>
    <mat-tab label="Create new accessor">
      <div class="example-large-box mat-elevation-z4">
        TBD
      </div>
    </mat-tab>
  </mat-tab-group>

  @if (pending) {
    <div class="add-spinner">
      <mat-spinner ></mat-spinner>
    </div>
  }

