<app-auth></app-auth>
<app-side-nav></app-side-nav>
<app-modal
  *ngIf="accessorsService.showModalAdd"
  (clickOnClose)="accessorsService.showModalAdd = false"
>
<app-add></app-add>
</app-modal>

<app-modal
  *ngIf="accessorsService.showModalNeedPreserve"
  (clickOnClose)="accessorsService.showModalNeedPreserve = false"
>
    This feature is only available with the Bevara Preserve IDE. <br> Contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information.
</app-modal>

<app-modal
  *ngIf="accessorsService.libs.licence_required"
  [hideClose]="true"
>
    This content requires obtaining a licence to be used. <br> Contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information.
</app-modal>

<app-modal *ngIf="accessorsService.not_supported"
(clickOnClose)="accessorsService.not_supported = false">
  This format is not supported by the Bevara Access IDE.
  <br> <br> Please contact <a style="color: #fff;" href="mailto:sales@bevara.com">support&#64;bevara.com</a> to inquire
  <br> about support options.
</app-modal>

<app-modal
  *ngIf="accessorsService.showModalNeedLogin"
  (clickOnClose)="accessorsService.showModalNeedLogin = false"
>
Please <a style="color: #fff;" (click)="authService.gotoSignInPage();accessorsService.showModalNeedLogin = false" href="javascript:void(0);">sign in</a> first to get access to this feature.
</app-modal>

<app-modal
  *ngIf="accessorsService.showModalUpdateAvailable"
  (clickOnClose)="accessorsService.showModalUpdateAvailable = false"
>
  An update of the filters library is available. <br><br>
  Would you like to update it now? <br><br>
  <button mat-button
  (click)="accessorsService.updateLibraries();accessorsService.showModalUpdateAvailable = false;">Yes</button>
  <button mat-button
  (click)="accessorsService.showModalUpdateAvailable = false">No</button>
</app-modal>


<app-modal
  *ngIf="accessorsService.showModalUpdating"
  [hideClose]="true"
>
  <div class="spinner">
    <mat-spinner ></mat-spinner>
  </div>
  <br>
  Updating library : {{accessorsService.updatingProgress}} %
</app-modal>
