<mat-toolbar>
  <span>You are not logged in. Please contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information</span>
</mat-toolbar>
<app-side-nav></app-side-nav>

<app-modal
  *ngIf="accessorsService.showModalNeedPreserve"
  (clickOnClose)="accessorsService.showModalNeedPreserve = false"
>
    This feature is only available with the Bevara Preserve IDE. <br> Contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information.
</app-modal>

<app-modal
  *ngIf="accessorsService.showLicenceRequired"
  (clickOnClose)="accessorsService.showLicenceRequired = false"
>
    This content requires obtaining a licence to be used. <br> Contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information.
</app-modal>
