<div #contentScript id="contentScript">
    <div class="artplayer-app" id="contentTag" #contentTag></div>
</div>

<app-modal *ngIf="decoding" [hideClose]="true">
    Your file is currently being analyzed. Please wait...
    <br>
    <mat-spinner style="margin:0 auto;" [color]="spinner_color"></mat-spinner>

</app-modal>

<app-modal *ngIf="error" (clickOnClose)="error = false">
    The combination of accessors used failed at decoding the current files.
    <br> You can try another combination of accessors or used the <a>recommmended ones</a>. You can also contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information.
</app-modal>

<app-modal *ngIf="accessorsService.not_supported" [hideClose]="true">
    This format is not supported by the Bevara Access IDE.
    <br> <br> Please contact <a style="color: #fff;" href="mailto:sales@bevara.com">support&#64;bevara.com</a> to inquire <br> about support options.
</app-modal>

<app-modal
  *ngIf="librariesService.licence_required"
  [hideClose] = true
>
    This content requires obtaining a licence to be used. <br> Contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information.
</app-modal>

<mat-tab-group color="accent" mat-stretch-tabs="true" [(selectedIndex)]="tabIndex" (selectedTabChange)="selectTab($event)">

  <mat-tab label="Integration">
    <app-code></app-code>
  </mat-tab>
  <mat-tab label="Options">
    <app-accessor></app-accessor>
  </mat-tab>
    <mat-tab label="Console">
        <textarea id="console" rows="8" readonly></textarea>
    </mat-tab>
    <mat-tab label="Media info"
    *ngIf="infoService.supported_format">
        <app-info
        [tabEvent]="tabEvent"
        >
        </app-info>
    </mat-tab>
    <mat-tab label="Graph">
        <app-graph
        [tabEvent]="tabEvent"
        [universal_elt]="accessorsService.id"
        (changeTab) = "changeTab($event)"
        ></app-graph>
    </mat-tab>
    <mat-tab label="Stats">
        <app-stats
        [tabEvent]="tabEvent"
        [universal_elt]="accessorsService.id"
        [open_stat]="open_stat"
        ></app-stats>
    </mat-tab>
    <mat-tab label="Unused">
        <app-unused
        [tabEvent]="tabEvent"
        [universal_elt]="accessorsService.id"
        ></app-unused>
    </mat-tab>

</mat-tab-group>

<app-modal
  *ngIf="librariesService.licence_required"
  [hideClose] = true
>
    This content requires obtaining a licence to be used. <br> Contact <a style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information.
</app-modal>
