<!-- <app-graph
[tabEvent]="tabEvent"
></app-graph>   -->

<div style="text-align:center;padding-top: 50px;" #contentScript id="contentScript">
    <div class="artplayer-app" id="contentTag" #contentTag style="width:852px;height: 480px;margin-left: auto;
    margin-right: auto;"></div>
</div>



<mat-tab-group color="accent" mat-stretch-tabs="true" (selectedTabChange)="selectTab($event)">
    <mat-tab label="Console">
        <textarea id="console" rows="8" readonly></textarea>
    </mat-tab>
    <mat-tab label="Graph">
        <app-graph
        [tabEvent]="tabEvent"
        [universal_elt]="'canvas'"
        ></app-graph> 
    </mat-tab>
    <mat-tab label="Stats">
        <app-stats 
        [tabEvent]="tabEvent"
        [universal_elt]="'canvas'"
        ></app-stats>
    </mat-tab>
    <mat-tab label="Unused">
        <app-unused 
        [tabEvent]="tabEvent"
        [universal_elt]="'canvas'"
        ></app-unused>
    </mat-tab>
    <mat-tab label="Media info">
        <textarea id="reporting" rows="8" readonly></textarea>
    </mat-tab>
</mat-tab-group>