<div #contentScript id="contentScript">
  <div class="artplayer-app" id="contentTag" #contentTag></div>
</div>

@if(decoding){
  <app-modal [hideClose]="true">
    Your file is currently being analyzed. Please wait...
    <br>
    <mat-spinner style="margin:0 auto;" [color]="spinner_color"></mat-spinner>

  </app-modal>
}

@if(error){
  <app-modal (clickOnClose)="error = false">
    The combination of accessors used failed at decoding the current files.
    <br> You can try another combination of accessors or used the <a>recommmended ones</a>. You can also contact <a
      style="color: #fff;" href="mailto:sales@bevara.com">sales&#64;bevara.com</a> for information.
  </app-modal>
}

@if(wait_for_click == true){
  <mat-card appearance="outlined" (click)="showContent()">
    <mat-card-header>
      <mat-card-title> This file contains audio </mat-card-title>
      <mat-card-subtitle>Click on this card to show the content </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
}


<div id="console" aria-busy="false"></div>

<mat-tab-group color="accent" mat-stretch-tabs="true" [(selectedIndex)]="tabIndex"
  (selectedTabChange)="selectTab($event)" >

  <mat-tab label="Integration">
    <app-integration></app-integration>
  </mat-tab>
  <mat-tab label="Options">
    <app-options></app-options>
  </mat-tab>
  @if(infoService.supported_format){
    <mat-tab label="Media info">
      <app-info [tabEvent]="tabEvent">
      </app-info>
    </mat-tab>
  }

  <mat-tab label="Graph">
    <app-graph [tabEvent]="tabEvent" [universal_elt]="accessorsService.id" (changeTab)="changeTab($event)"></app-graph>
  </mat-tab>
  <mat-tab label="Stats">
    <app-stats [tabEvent]="tabEvent" [universal_elt]="accessorsService.id" [open_stat]="open_stat"></app-stats>
  </mat-tab>
  <mat-tab label="Unused">
    <app-unused [tabEvent]="tabEvent" [universal_elt]="accessorsService.id"></app-unused>
  </mat-tab>

</mat-tab-group>
