<mat-divider></mat-divider>
<mat-list-item>Options</mat-list-item>
<mat-chip-listbox [multiple]="true" aria-label="Integration option">
    <mat-chip-option *ngIf="accessorsService.tag == 'audio' || accessorsService.tag == 'video'" color="accent" (click)="accessorsService.options.toogleOption('controls')" [selected]="accessorsService.options.includes('controls')">Controls</mat-chip-option>
    <mat-chip-option *ngIf="accessorsService.tag != 'canvas'" color="accent" (click)="accessorsService.options.toogleOption('use-cache')" [selected]="accessorsService.options.includes('use-cache')">Use cache</mat-chip-option>
    <mat-chip-option *ngIf="accessorsService.tag != 'canvas'" color="accent" (click)="accessorsService.options.toogleOption('use-workers')" [selected]="accessorsService.options.includes('use-workers')">Use workers</mat-chip-option>
    <mat-chip-option color="accent" (click)="accessorsService.options.toogleOption('use-webcodecs')" [selected]="accessorsService.options.includes('use-webcodecs')">Use webcodecs</mat-chip-option>
    <mat-chip-option color="accent" (click)="accessorsService.options.toogleOption('script-directory')" [selected]="accessorsService.options.includes('script-directory')">Set scripts directory</mat-chip-option>
</mat-chip-listbox>

<div *ngIf="accessorsService.options.includes('script-directory')">
    <br>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Script directory</mat-label>
            <input matInput [(ngModel)]="accessorsService.scriptDirectoryUrl" [ngModelOptions]="{standalone: true}" placeholder="{{accessorsService.scriptDirectoryUrl}}" type="url" />
        </mat-form-field>
    </form>
</div>